body {
  margin: 0;
}

.errorLine {
  background: #fdd !important;
  margin: 0px -5px -1px -5px !important;
}
.errorMarker {
  color: #900 !important;
}
.errorMessage {
  display: none;
}


.env {
  overflow: hidden;
  font-family: monospace;
  margin: 60px 13px;
}
.env canvas {
  float: left;
  width: 300px;
  height: 300px;
  background: url(checker.png);
  cursor: crosshair;
}
.env .code {
  border: 1px solid #ccc;
  margin-left: 313px;
}
.env .uniforms {
  margin-left: 313px;
}
.env .uniforms .uniform {
  overflow: hidden;
}
.env .uniforms .uniform .name {
  width: 100px;
  text-align: right;
  float: left;
}
.env .uniforms .uniform .input {
  margin-left: 113px;
}