.CodeMirror {
  font-size: 16px;
}

.editor-error {
  background-color: #fcc;
}
.editor-error-gutter {
  color: transparent;
  background-color: rgba(255,0,0,0.2);
  background-repeat: no-repeat;
  background-position: right center;
  background-origin:content-box;
  padding-right: 2px;
  height: 16px;
  margin: 0px -1px;
  background-image: url(warning.png);
}

.editor-annotations {
  position: absolute;
  left: 0; top: 0;
}

.editor-annotation {
  position: absolute;
  margin-left: 7px;
  margin-top: 5px;
  font-size: 14px;
  padding: 0px 6px 1px 6px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  white-space:nowrap;
  pointer-events: none;
}