.CodeMirror {
  font-size: 16px;
}

.editor-error {
  background-color: #fcc;
}

.editor-annotations {
  position: absolute;
  left: 0; top: 0;
}

.editor-annotation {
  position: absolute;
  margin-left: 12px;
  margin-top: 3px;
  font-size: 15px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  white-space:nowrap;
  pointer-events: none;
}