.cm-s-default .cm-comment {color: #06f; font-style: italic}
.cm-s-default .cm-keyword {color: #809;}
/* There's a bug with codemirror where runmode won't add the cm- prefix to classes beyond the first */
.cm-s-default .cm-int, .cm-s-default .int {color: #d00;}
.cm-s-default .cm-float, .cm-s-default .float {color: #295;}
.cm-s-default .cm-property {color: #910;}